body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}
body {
  color: #121214;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 120px 120px minmax(300px, 800px)120px  120px 1fr;
}

.titulo {
  font-family: "Caveat", cursive;
}
.sub-titulo {
  font-family: "Caveat Brush", cursive;
}
@media (max-width:800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
}
.separador{
    grid-column: 3;
    height: 3px;
    width: 1000px;
    background: #121214;
}

