body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}
body {
  color: #121214;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
body {
     
  background-image: url("/img/fundo.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: fixed;
  
        
}


.titulo {
  font-family: "Caveat", cursive;
  
}
.sub-titulo {
  font-family: "Caveat Brush", cursive;
}
#btn{
  position:static;
z-index: 2;
background: #f2b84b;
margin :20px;
padding: 10px;
}
.cabecario {

margin-left: auto;
margin-right: auto;
text-align: center;
align-items: center;
justify-content: center;
display: block;
font-size: 2.5rem;
}
.cabecario img{
width: 300px;
margin: auto;
}
.cabecario h1{
color: white;
}

.nav-lista{
  font-size: 2.5rem;
  font-family: "Caveat Brush", cursive;
  display:flex; 
  flex-wrap: wrap;
  margin :20px ;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap

}
.nav-lista li{
  margin:10px;
}


.nav-lista a{
  
  padding: 5px;
  color: white;
  background-color: #b21617;
  border-radius: 8px;
  text-align: center;
}
.nav-lista a:hover{
  
  background-color: #f80505;
}
.lista-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-card{
  background-color: #591202;
 max-width: 1200px;
  color: white;
  border-radius: 10px;
  opacity: 0.9;
  margin: auto;
  
}
.container-card h1{
  margin: 20px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  color: white;
  
}

.card{
  margin: 20px;
  align-items: center;
  text-align: center;
  
  border: solid 1px #f2b84b;
  border-radius: 8px;
  justify-content: center;
  background:black;
  
}
.card-info img{
  margin: 15px;
  border-radius: 15px;
  max-width: 250px;
  
 
}

.card h2{
  font-family: "Caveat", cursive;
  color: white;
  font-size: 2.5rem ;
}
.card h3{
  font-family: "Caveat", cursive;
  color: white;
  font-size: 2.0rem ;
}
.card p{
  font-family: "Caveat", cursive;
  color: white;
  font-size: 1.9rem ;
}
.card-info{
  display: block;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right:  20px;
  z-index: 9999;
  border: none;
  outline: none;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  width: 40;
}

#myBtn:hover {
  background-color:#f80505;
}
@media (max-width: 1040px){
  
  #myBtn{
  
  
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.5rem;
  width: 150px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 2.1rem;
    }
    .cabecario img{
    width: 200px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 1.8rem;
      font-family: "Caveat Brush", cursive;
      display:flex; 
    }
    
    
    .nav-lista a{
      
      padding: 10px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{
      
      background-color: #f80505;
    }
    .lista-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
     max-width: 700px;
      color: white;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    
}

@media (max-width: 877px){
  
  #myBtn{
  
  
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.5rem;
  width: 100px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 2.1rem;
    }
    .cabecario img{
    width: 200px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 1.6rem;
      font-family: "Caveat Brush", cursive;
      display:flex; 
    }
    
    
    .nav-lista a{
      
      padding: 5px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{
      
      background-color: #f80505;
    }
    .lista-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
     max-width: 650px;
      color: white;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    
}
@media (max-width: 751px){
  
  #myBtn{
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.4rem;
  width: 100px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 2.1rem;
    }
    .cabecario img{
    width: 200px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 1.5rem;
      font-family: "Caveat Brush", cursive;
      display:flex; 
    }
    
    
    .nav-lista a{
      
      padding: 5px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{
      
      background-color: #f80505;
    }
    .lista-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
      color: white;
      max-width: 550px;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    .container-card h1{
      margin: 20px;
      text-align: center;
      font-family: "Caveat", cursive;
      font-size: 2.5rem;
      color: white;
      
    }
    
    .card{
      
      align-items: center;
      text-align: center;
      
      border: solid 1px #f2b84b;
      border-radius: 8px;
      justify-content: center;
      background:black;
      
    }
    .card-info img{
      margin: 15px;
      border-radius: 15px;
      max-width: 200px;
      
     
    }
    
    .card h2{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 2.0rem ;
      margin-top: 10px;
      
    }
    .card h3{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.5rem ;
    }
    .card p{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.4rem ;
    }
    .card-info{
      display: block;
    }
    
}
@media (max-width: 561px){
  
  #myBtn{
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.4rem;
  width: 70px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 2.1rem;
    }
    .cabecario img{
    width: 200px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 1.7rem;
      font-family: "Caveat Brush", cursive;
      display:flex; 
    }
    
    
    .nav-lista a{
      
      padding: 5px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{
      
      background-color: #f80505;
    }
    .lista-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
      color: white;
      max-width: 400px;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    .container-card h1{
      margin: 20px;
      text-align: center;
      font-family: "Caveat", cursive;
      font-size: 2.4rem;
      color: white;
      
    }
    
    .card{
      
      align-items: center;
      text-align: center;
      border: solid 2px #f2b84b;
      border-radius: 8px;
      justify-content: center;
      background:black;
      
    }
    .card-info img{
      margin: 15px;
      border-radius: 15px;
      max-width: 250px;
      
     
    }
    
    .card h2{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 2.0rem ;
      margin-top: 10px;
      
    }
    .card h3{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.8rem ;
    }
    .card p{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.6rem ;
    }
    .card-info{
      display: block;
    }
    
}

@media (max-width: 465px){

  #myBtn{
  
  
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2rem;
  width: 60px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 1.1rem;
    }
    .cabecario img{
    width: 130px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 1.5rem;
      font-family: "Caveat Brush", cursive;
      display:flex; 
    }
    
    
    .nav-lista a{
      
      padding: 5px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{
      
      background-color: #f80505;
    }
    .lista-card{
      display: block;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
     width: 350px;
      color: white;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    .container-card h1{
      margin: 10px;
      text-align: center;
      font-family: "Caveat Brush", cursive;
      font-size: 2.2rem;
      color: white;
    }
    
    .card{
      margin: 10px;
      align-items: center;
      text-align: center;
      
      border: solid 1px #f2b84b;
      border-radius: 8px;
      justify-content: center;
      background:black;
     
      
    }
    .card-info img{
      margin: 10px;
      border-radius: 15px;
      max-width: 309px;
      min-height:100px ;
    
      
      
     
    }
    
    .card h2{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 2.0rem ;
    }
    .card h3{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.7rem ;
    }
    .card p{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.5rem ;
    }
    .card-info{
      display: block;
    }
    

}

@media (max-width: 425px){

  #myBtn{
  
  
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2rem;
  width: 60px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 1.1rem;
    }
    .cabecario img{
    width: 130px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 1.4rem;
      font-family: "Caveat Brush", cursive;
      display:flex; 
    }
    
    
    .nav-lista a{
      
      padding: 5px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{
      
      background-color: #f80505;
    }
    .lista-card{
      display: block;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
     width: 300px;
      color: white;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    .container-card h1{
      margin: 10px;
      text-align: center;
      font-family: "Caveat Brush", cursive;
      font-size: 2.0rem;
      color: white;
    }
    
    .card{
      margin: 10px;
      align-items: center;
      text-align: center;
      border: solid 1px #f2b84b;
      border-radius: 8px;
      justify-content: center;
      background:black;
      
    }
    .card-info img{
      margin: 10px;
      border-radius: 15px;
      max-width: 260px;
     height:300px ;   
    }
    
    .card h2{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.8rem ;
    }
    .card h3{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.7rem ;
    }
    .card p{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.6rem ;
    }
    .card-info{
      display: block;
    }
    

}
@media (max-width: 390px){

  #myBtn{
  
  
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:#b21617;
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 1.2rem;
  width: 60px;
  }
  .cabecario {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-size: 1.2rem;
    }
    .cabecario img{
    width: 140px;
    margin: auto;
    }
    .cabecario h1{
    color: white;
    margin-top: 15px;
    }


    .nav-lista{
      font-size: 19px;
      font-family: "Caveat Brush", cursive;
      display:flex; 
      
    }
    
    
    .nav-lista a{
      padding: 5px;
      color: white;
      background-color: #b21617;
      border-radius: 5px;
      text-align: center;
    }
    .nav-lista a:hover{ 
      background-color: #f80505;
    }
    .lista-card{
      display: block;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-card{
      background-color: #591202;
     width: 320px;
      color: white;
      border-radius: 10px;
      opacity: 0.9;
      margin: auto;
      
    }
    .container-card h1{
      margin-top: 15px;
      text-align: center;
      font-family: "Caveat Brush", cursive;
      font-size: 2.0rem;
      color: white;
    }
    
    .card{
      margin: 15px;
      align-items: center;
      text-align: center;
      border: solid 1px #f2b84b;
      border-radius: 8px;
      justify-content: center;
      background:black;
      
    }
    .card-info img{
      margin: 10px;
      border-radius: 15px;
      max-width:267px;
     height:300px ;   
    }
    
    .card h2{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.8rem ;
    }
    .card h3{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.7rem ;
    }
    .card p{
      font-family: "Caveat", cursive;
      color: white;
      font-size: 1.6rem ;
    }
    .card-info{
      display: block;
    }
    

}
