.superinfo-bg {
    display: flex;
    grid-column: 1 / 8;
    background: #b21617;
    color: #ffffff;
    height: 65px;
    font-size: 22px;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .superinfo {
    margin: 0 auto;
    display: flex;
  }
  .superinfo a,
  p {
    font-family: "Caveat", cursive;
    margin: 0 10px 10px 10px;
  }
  .superinfo a {
    color: white;
  }
  @media (max-width:600px) {
    .superinfo-bg{
      display: block;
      height: 85px;
    }

  }
  