.logo {
  
    width: 12.5rem;
    height: 12.5rem;
    
  }
  
  .menu-bg {
    grid-column: 2/8;
    height: 18.75rem;
   width: auto;
    display: flex;
    margin:50px 20px;
    align-items: center;
    text-align: center;
  }
  .menu {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .menu a {
    color: #121214;
  }
  
  .menu-nav ul {
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .menu-nav a {
    
    font-size: 2em;
    display: block;
    padding: 15px;
    position: relative;
    color: #121214;
    text-decoration: none;
  }
  .menu-img {
    display: none;
  }
.menu-nav a:hover{
   color: #b21617;
}
@media (max-width:800px) {
    .menu-bg  {
      display: block;
      grid-column: 1/4;  
      
    }
    .logo {
 margin-left:35%;
        
    }
    .menu{
     grid-column: 1/4;    
      }
  }
  @media (max-width:600px) {
    .menu-bg  {
      display: block;
      grid-column: 1/4;  
      
    }
    .logo {
 margin-left:30%;
 width: 10.5rem;
 height: 10.5rem;
        
    }
    .menu{
     grid-column: 1/4; 
     font-size:10px;   
      }
  }
  @media (max-width:400px) {
    .menu-bg  {
      display: block;
      grid-column: 1/4;  
      
    }
    .logo {
 margin-left:25%;
 width: 8.5rem;
 height: 8.5rem;
        
    }
    .menu{
     grid-column: 1/4; 
     font-size:10px;   
      }
  }